/******************************************************************
Repositories
*********************************************************************/

.note_keys{
    font-weight: bold;
}

/**********************************************
Gitolite Admin
***************************************************/
.gl_user_ui_orphan .gl_user_ui_half{
    float:right;
}
.gl_user_ui_orphan span#at{
   display: block;
   float: left;
   margin-top: 20px;
   width: 20px;
   text-align: center;
}
.gl_user_ui_half{
    float:left;
}
.gl_user_ui_orphan{
    float:left;
}
.help_text{
   font-size: 10px;
   color: #B4B4B4;
}
.small_txt_area{
   width: 330px;
   height: 130px;
}

.key_field
{
    width: 330px;
    float: left;
}
.key_help
{
    width: 397px;
    float: right;
    padding-top: 0px;
}

.key_help_remote
{
    width: 440px;
    float: right;
    padding-top: 0px;
}
.ssh_code{
    background-color: #FFF0EB;
    padding-left: 0px;
}

.path_txt{
  width: 600px;
}

.people_keys{ margin: 1em; border-collapse: collapse; width: 200px;}
.people_keys td {  border: 1px #ccc solid; } 


.pubkey_warning {
  background: #FFF0EB;
  border-color: #FFD7CD;
  border: 1px;
}
/*.pubkey_warning{
    background-color: #CB4015;
}*/
.pubkey_warning a{
    color: #CC5646;
    font-style: italic;
}
.ln_hght
{
    vertical-align:middle;
    line-height: 3em;
}

#remote_form{
    width: 50%;
    float: left;
}
#key_instruction{
    width: 40%;
    float: right;
    padding:10px;
    margin: 5px;
    display: inline;
}

.flyout_dialog_wrapper .button_holder{
    padding: 6px 20px;
}


.ssh_code_wrap{
    background-color: #FFF0EB;
    padding-left: 0px;
    word-wrap: break-word;
}

#mapping_lists{
    width: 500px;
}


#page_action_add_git .title_action_button[style] {
    padding-left: 28px !important;
}

#page_action_add_remote_git .title_action_button[style] {
     padding-left: 28px !important;
}

#page_action_need_help .title_action_button[style]
{
     padding-left: 28px !important;
}

/*
li#page_action_branches .title_action_button {
    background-image: url("http://git2.rtcamp.info/public/assets/images/ac_gitolite/default/icons/16X16-git.png");
}
*/