/******************************************************************
Repositories
*********************************************************************/

.note_keys{
    font-weight: bold;
}

/**********************************************
Gitolite Admin
***************************************************/
.gl_user_ui_orphan .gl_user_ui_half{
    float:right;
}
.gl_user_ui_orphan span#at{
   display: block;
   float: left;
   margin-top: 20px;
   width: 20px;
   text-align: center;
}
.gl_user_ui_half{
    float:left;
}
.gl_user_ui_orphan{
    float:left;
}
.help_text{
   font-size: 10px;
   color: #B4B4B4;
}
.small_txt_area{
   width: 330px;
   height: 130px;
}

.key_field
{
    width: 330px;
    float: left;
}
.key_help
{
    width: 397px;
    float: right;
    padding-top: 0px;
    
   
}
.ssh_code{
    background-color: #FFF0EB;
    padding-left: 0px;
}

.path_txt{
  width: 600px;
}

.people_keys{ margin: 1em; border-collapse: collapse; width: 200px;}
.people_keys td {  border: 1px #ccc solid; } 


.pubkey_warning {
  background: #FFF0EB;
  border-color: #FFD7CD;
  border: 1px;
}
/*.pubkey_warning{
    background-color: #CB4015;
}*/
.pubkey_warning a{
    color: #CC5646;
    font-style: italic;
}